@charset "UTF-8";
/* CSS Document */

/*-----------------GRUND--------------------*/
html, body, nav, main, footer {margin:0; padding:0; height:100% }
div {margin:0; padding:0; }
body { background-image:url(pics/bg_golf3.jpg); background-repeat:no-repeat; background-size:cover; background-attachment:fixed;  }

#logo { width: 27%; margin-left:18%; margin-top:2%; }

#menu {width:34%; float:right; margin-right:17.7%; margin-top:3%; }
#menu img {width:25%; display:inline; float:right}
#start:hover, #klubbar:hover, #minguide:hover, #omoss:hover {opacity:0.9; }

#wrap { background-color:#FFFFFF; width:64%; min-height:100%; margin-left:18%; margin-right:18%; margin-top:1%; padding-bottom:5%; }







/*----------------STARTSIDA-----------------*/
#startpic {background-image:url(pics/golfpartest.png); background-repeat:no-repeat; background-size:cover; width:64%; margin:auto; position:absolute; }

#starttext { width:45%; float:right; padding:1%; margin-top:2%; margin-right:2%; margin-bottom:2%; background-color:#FFFFFF; opacity:0.8; border-radius: 5px 50px; }

#starttext p { font-size:90%;  }
#starttext h1 {text-align: center; margin-top:2%; }

#starttext h4 { text-align:center;  }

#map {  position:fixed; height:300px; width:80%; margin-top:1%; margin-left:auto; margin-right:auto; border:solid 3px #4E4E4E; }

#searchElem { display:inline-block; margin-top:30%; width:80%; margin-left:10%; }
#searchWindow { float:left; width:74%; padding:1%; font-size:16px; font-style:italic; margin-left:0; border: solid 2px #4E4E4E;  }
#searchButton { float:right; margin-right:-1%; margin-top:-1%; width:23%;  }
#resElem {  }



/*------------Resultatrutor (till både startsidan och klubblistan)--------------*/
.infoBox { background-color: #ADABAB; width: 30%; height:150px; border: solid 4px #4E4E4E; margin-left:1%; margin-right:1%; margin-top:5%; 
position:relative; float:left; }

.infoBox p { float:right; width:5%; font-family: Cambria,"Hoefler Text","Liberation Serif",Times,"Times New Roman",serif; font-size: 150%;
  margin-top: -7%; padding: 2%; }

.infoBox h3 { float:right; width:50%; font-family:Cambria,"Hoefler Text","Liberation Serif",Times,"Times New Roman",serif; margin-top: 2%; }

.rating { position:absolute; right:8%; bottom:-6%; z-index:2; }
.ratingBall { width:20%;  position:absolute; right:0; bottom:0; z-index:1 }
.golfhouse {  left:1%; top:2%; position:absolute; width:45%;}
.infoLink {background-color:#0BD3DD; display:inline-block; position:absolute; bottom:2%; left:1%; }

/*----------------KLUBBAR-------------------*/
#buttons {padding-right:2%; padding-top:2%; float:right; }
.normalbutton {width:15%; float:right; } 
.normalbutton:hover {opacity:0.8;}
.activebutton { }



/*-------------ENSKILD KLUBB-----------------*/

#bildruta { position:absolute; height:300px; width:30%; background-image:url(pics/bg_golf3.jpg); background-repeat:no-repeat; background-size:cover; border:solid 1px #000000; }


#bildknapp1 { float:left; width:7%; height:100%; margin-left:1%; }
#bildknapp2 { float:right; width:7%; height:100%; margin-right:1%; }
#bildruta img {width:100%; margin-top:300%; }
#bildruta img:hover { opacity:0.6; }

#coursetext {display:block; right:19%; width:32%; height:300px;  position:absolute; overflow:scroll; }

#courseinfo {display:inline-block; margin-top:310px; right:19%; width:32%; position:absolute; border:solid 1px #000000;}
#courseinfo table { width:90%; margin-left:auto; margin-right:auto;}
#courseinfo img { width:40%; }

#extrainfo { display:inline-block; width:32%; margin-top:610px; right:19%; border:solid 1px #000000; position:absolute; }

#map2 { height:400px; width:30%; margin-top:310px; position:absolute; }

#mapButtons { display:inline-block; width:40%; left:16%; margin-top:720px; position:absolute; }
#mapButtons ul {height:100%; margin-top:0;  }
#mapButtons ul li { list-style:none; }
#mapButtons img {display:inline; width:20%; float:left; }

#c_3ed58ccac01c24b23af7949c23655592 { display:block; margin-top:800px; right:30%; position:absolute;}


/*------------RESEPLANERAREN-------------------*/


/*----------------OM OSS-----------------*/

#sidebarleft { background-color: #ADABAB; width:34%; height:45%; border:solid 1px #000000; float:left;}

#sidebarleft p {   margin-left: 146px; margin-top: -74px;}

#rebecka  { height: 20%; margin-top: 48px; width: 36%;}

#emil { height: 20%; margin-top: 46px; width: 36%;}

#michaela {height:20%; width:36%; margin-top:46px; }

#sidebarright {   background-color: #b5b5b5;
    float: right;
    height: 45%;
    margin-top: -1.5%;
    width: 65.8%; }
 

